.Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 99999999;
  opacity: 0.65;
}

.modalContainer {
  padding-left: 35px;
  position: absolute;
  // margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 978px;
  height: 803px;
  background-color: white;
  opacity: 1;
  z-index: 99999999999999999;
  border-radius: 5px;

  &-topText {
    margin-top: 21px;
    font-size: 24px;   
  }

  &-xButton {
    margin: 6px 27px 0 0 ;
    width: 22px;
    height: 22px;
    float: right;
    cursor: pointer;
  }

  &-Input {
    margin: 40px 0 0 10px;
    font-size: 22px;
    color: #6F6D6D;
    
    &-box {
      margin-top: 10px;
      margin: 5px 0 0 15px;
      width: 350px;
      height: 33px;

      border: none;
      border-bottom: solid #c4c4c4 1px;

      font-size: 16px;
    }
  }
 
  &-call {
    margin: 20px 0 0 10px;
    font-size: 22px;
    color: #6F6D6D;
    
    &-input {
      margin-top: 10px;
      margin: 5px 0 0 15px;
      width: 350px;
      height: 33px;

      border: none;
      border-bottom: solid #c4c4c4 1px;

      font-size: 16px;
    }
  }
  &-descript {
    margin: 40px 40px 0 0;
    padding: 3px 0 0 3px;
    width: 350px;
    height: 230px;
    font-size: 18px;

    float: right;

    border: solid #c4c4c4 0.5px;
    // border: none;
  }

  &-submit{
    margin: 40px 50px 0 0;
    float: right;

    width: 100px;
    height: 230px;

    text-align: center;
    line-height: 230px;

    // box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    font-size: 24px;

    cursor: pointer;
  }

  &-map {
    margin: 20px 0 0 10px;
    overflow: hidden;

    width: 888px;
    height: 400px;
  }
}